@mixin transition($prop, $duration, $func) {
    -webkit-transition: $prop $duration $func;
    -moz-transition: $prop $duration $func;
    -ms-transition: $prop $duration $func;
    -o-transition: $prop $duration $func;
    transition: $prop $duration $func;
}

#main-navbar {
    background-color: $color-light;
    padding: 5px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        @include transition(all, 0.2s, ease);

        &:hover {
            color: $color-primary;
            transform: scale(1.05);
            border-radius: 3px;
        }
    }

    .left-content {
        display: flex;
        justify-content: space-between;
        flex: 2;
        align-items: center;
        padding: 5px;

        .logo {
            margin: 0;
            transform: scale(1.05);

            img {
                width: 40px;
                max-height: 50px;
            }
        }

        .search-bar {

            padding-left: 2rem;
        }
    }

    .right-content {

        flex: 3;
    }
}

#nav {
    .nav-links {
        text-align: center;
        display: flex;
        align-items: center;
        margin: 0;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 5px;

        li {
            list-style: none;
            &.active {
                a {
                    color: $color-primary;
                }
            }

            a {
                color: $color-text-primary;
                font-size: 14px;

                &:hover {
                    color: $color-primary;

                }
            }

            &.login-register {
                display: flex;
                justify-content: space-between;

            }
        }
    }
}

.btn {
    border: none;
    text-align: center;

    &:hover {
        background: darken($color-primary, 15%);
    }
}

.btn-primary {
    background-color: $color-primary;
    color: $color-light;
    text-transform: capitalize;
}






    .title-wrap{
font-size: 20px;
    font-weight: bold;
}
