// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$color-primary-dark: rgb(34, 23, 134);
$color-primary-light: #CFD8DC;
$color-secondary-dark:#00786d;
$color-secondary-light:#009688;



$color-primary: #57b846;
$color-light: #FFFFFF;
$color-accent: #009688;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-divider: #BDBDBD;
